In [22]:
# Import pandas
import pandas as pd

In [23]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', delim_whitespace=True)

In [24]:
#The `head()` function shows the first five observations.
#Use this to get a glimpse of the data such as the column names and the type of data in the columns.
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [25]:
#Compare the average income based on ethnicity.
print(df.groupby(['Ethnicity'])["Income"].mean())

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [26]:
#On average, do married or single people have a higher balance?
print(df.groupby(['Married'])["Balance"].mean())

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [27]:
#What is the highest income in our dataset?
print("The highest income in our dataset",df['Income'].max())

The highest income in our dataset 186.634

In [28]:
#What is the lowest income in our dataset?
print("The lowest income in our dataset is",df['Income'].min())

The lowest income in our dataset is 10.354

In [29]:
#How many cards do we have recorded in our dataset? (Hint: use `sum()`)
print("Number of cards in our dataset: ",df["Cards"].sum())

Number of cards in our dataset:  1183

In [30]:
#How many females do we have information for vs how many males?
print(df.groupby(["Gender"])["Gender"].count())

Gender
Female    207
Male      193
Name: Gender, dtype: int64